body{
    background-color: white;
    background: url('images/space.jpg');
}
#wholeCard{
    background-color: rgba(255, 255, 255, 0.6);
    width: 90%;
    margin: 20px auto;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#courseName{
    color: white;
}
#leftCard{
    width: 150px;
    border-radius: 4px;
    padding: 15px;

}
#rightCard{
    width: auto;
    display: flex;
    padding: 15px;
    overflow-x: auto;
}
.holeColumn{
    border: 1px solid #CCC;
    margin-right: 5px;
    width: 30px;
    text-align: center;
}
.glyphicon{
    color: red;
    padding-top: 2px;
    cursor: pointer;
}
#playerCount{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.modalBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}
.setupModal{
    width: 300px;
    margin: 0 auto;
    height: auto;
    padding: 15px;
    border-radius: 4px;
    background-color: white;
}
#golfbanner {
    width: 99%;
    height: 650px;
    background: url('images/planet 1.jpg');
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 35%;
    margin: 25px auto;
    clear: both;
    position: relative;
    min-height: 200px;
    border-radius: 12px;
    border: 1px solid #000;
}
.bar{
    width: 100%;
    height: 70px;
    color: floralwhite;
    background-color: rgba(153, 51, 153, 0.6);
    border-radius: 12px;
}
.leftBar{
    float: left;
    width: 270px;
}
.rightBar{
    float: right;
    width: 250px;
    padding-top: 8px;
}
#logoText{
    padding: 10px;
    font-size: 250%;
}
table, th, td {
    border: 1px solid black;

}
th, td{
    padding: 10px;
}
table{
    border-collapse: collapse;
    width:100%;
}
th {
    height: 25px;
}
td {
    height: 15px;
}
tr:hover{background-color: greenyellow}

#addButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#deleteButton{
    background-color: darkorange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.textBox {
    width: 15px;
}